:root {
  --var-max-width : 1920px;
  --var-btn-border : 0.125rem solid #fff;
}

* {
  margin: 0;
  padding: 0;
}

ol {
  padding: 1rem 0 0 1.75rem;
  text-align: left;
}

nav, section.container {
  max-width: var(--var-max-width);
}

nav {
  background: linear-gradient(45deg in oklab, #e66465, #9198e5);
  height: 20vh;
  text-align: center;
}

#fileArea {
  padding-top: 8vh;
}

.btns {
  display: flex;
  justify-content: flex-end;
}

.btn {
  box-sizing: border-box;
  border: var(--var-btn-border);
  border-radius: 0.75rem;
  color: #fff;
  background: none;
  margin-right: 1.25rem;
  padding: 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.container {
  position: relative;
  height: 80vh;
  text-align: center;
}

#content {
  margin: 0 auto;
  padding-top: 1.75rem;
  box-sizing: border-box;
  width: 70vw;
  height: 100%;
}

.item {
  margin: 0.25rem 0 0.75rem;
  text-align: left;
}

.item textarea {
  margin-top: 0.75rem;
  width: 100%;
  height: 5rem;
}

/*top btn*/
.topBtn {
  display: inline-block; /* 버튼을 인라인 블록 요소로 만듭니다. */
  padding: 0.5rem 0.625rem; /* 버튼 내부 여백 */
  border: 0.125rem solid black; /* 테두리 */
  border-radius: 50%; /* 동그란 모양 */
  background-color: white; /* 배경색 */
  color: black; /* 글자색 */
  font-size: 1rem; /* 글자 크기 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  position: fixed; /* 화살표와 텍스트를 위한 상대 위치 설정 */
  bottom: 3rem;
  right: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.topBtn::before {
  content: "TOP"; /* 'TOP' 텍스트 */
  position: absolute; 
  top: 24%; /* 위치 조정 */
  left: 50%; /* 중앙 정렬 */
  transform: translate(-50%, -50%); /* 중앙 정렬 보정 */
  font-size: 0.75rem; /* 화살표 크기 */
}

.topBtn::after {
  content: "↑"; /* 상단 화살표 */
  position: absolute;
  bottom: 40%; /* 위치 조정 */
  left: 50%; /* 중앙 정렬 */
  transform: translate(-50%, 50%); /* 중앙 정렬 보정 */
  font-size: 1.25rem; /* 텍스트 크기 */
}
